.Cart {
  display: flex;
  border: 1px solid rgb(192, 175, 175);
  padding: 0.5rem 2rem;
  border-radius: 12px;
  align-items: center;
}
.CartItem {
  margin: 0 1rem;
  /* border: 1px solid black; */
  padding: 0.2rem 0.8rem;
  text-align: center;
  border-radius: 25px;
  width: 1rem;
  color: white;
  background-color: rgb(22, 22, 22);
}
